body {
  background: #CCCCCC;
}

#box_1 {
  padding: 15px;
  background: burlywood;
  margin-bottom: 25px;
}

#box_2 {
  padding: 15px;
  background: burlywood;
  margin-bottom: 25px;
}

#box_3 {
  padding: 15px;
  background: burlywood;
  margin-bottom: 25px;
}